
  
  .firstname{
    font-size: 20px;
  }
  .lastname{
    font-size: 20px;
    margin-top: -20px;
  }
.store-image{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: top;
  padding-left: 180px;
 
}

.profile{
  display: grid;

}
.imagetitle{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: top;
  padding-left: 180px;
}

p{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: top;
  padding-left: 180px;
}

  h1{
    margin-top: auto;
  }
